In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [6]:
sunflower_ids = res['objectIDs']

In [7]:
sunflower_ids

[436524,
 484935,
 437112,
 210191,
 431264,
 397949,
 656530,
 480725,
 486590,
 485308,
 375281,
 705155,
 11922,
 816522,
 2032,
 347980,
 343052,
 20141,
 2019,
 208554,
 403496,
 360837,
 437115,
 207869,
 761604,
 400581,
 423400,
 707887,
 223828,
 682927,
 57922,
 649813,
 79739,
 193938,
 339347,
 208218,
 437984,
 202228,
 436534,
 704667,
 696949,
 437329,
 436252,
 436580,
 363282,
 190739,
 207753,
 822570,
 487043,
 203893,
 437526,
 367434,
 423237,
 262423,
 839296,
 367817,
 13644,
 18362,
 820022,
 648617,
 892559,
 761731,
 814626,
 207967,
 626832,
 262430,
 262428,
 707697,
 205386,
 262378,
 426804,
 664519,
 633526,
 436121,
 369073,
 747779,
 436144,
 852414,
 427872,
 436530,
 436535,
 436529,
 437980,
 724844,
 834585,
 834580,
 834765]

In [17]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [20]:
objectID.append(obj_test['objectID'])

# 4

In [33]:
df = pd.DataFrame()
objectID = []
title = []
artistDisplayName = []
department = []
objectBeginDate = []
objectEndDate = []
period = []
objectName = []
culture = []

In [34]:
for i in sunflower_ids:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
        obj_test = r_test.json()
        objectID.append(obj_test['objectID'])
        title.append(obj_test['title'])
        artistDisplayName.append(obj_test['artistDisplayName'])
        department.append(obj_test['department'])
        objectBeginDate.append(obj_test['objectBeginDate'])
        objectEndDate.append(obj_test['objectEndDate'])
        period.append(obj_test['period'])
        objectName.append(obj_test['objectName'])
        culture.append(obj_test['culture'])
    except:
        continue

In [39]:
df['objectID'] = objectID
df['title'] = title
df['artistDisplayName'] = artistDisplayName
df['department'] = department
df['objectBeginDate'] = objectBeginDate
df['objectEndDate'] = objectEndDate
df['period'] = period
df['objectName'] = objectName
df['culture'] = culture

In [41]:
df.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524,Sunflowers,Vincent van Gogh,European Paintings,1887,1887,,Painting,
1,484935,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921,1921,,Painting,
2,437112,Bouquet of Sunflowers,Claude Monet,European Paintings,1881,1881,,Painting,
3,210191,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896,1896,,Vase,
4,431264,Sunflowers,Lily Converse,Drawings and Prints,1941,1941,,Print,

In [45]:
df.query('culture == "Japan"')

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
30,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

# 5

In [46]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [58]:
cat_ids = cats['objectIDs'][:1000]

In [59]:
cat_ids

[49698,
 49470,
 53222,
 36221,
 60873,
 70541,
 752008,
 43402,
 47358,
 49467,
 54747,
 54626,
 55919,
 59775,
 55923,
 36075,
 50826,
 57204,
 53653,
 42922,
 56602,
 47051,
 47052,
 72842,
 69780,
 59121,
 38952,
 38177,
 39199,
 59903,
 73809,
 59763,
 49050,
 58462,
 45282,
 39092,
 38158,
 38160,
 38162,
 38994,
 50780,
 53441,
 55948,
 54124,
 59248,
 36411,
 58779,
 73046,
 671015,
 42932,
 45065,
 56780,
 52996,
 42915,
 59249,
 38949,
 36346,
 51660,
 670898,
 55914,
 39764,
 55967,
 69410,
 68841,
 55148,
 76442,
 37011,
 36621,
 58218,
 54445,
 57560,
 56070,
 41681,
 53590,
 58002,
 45667,
 50827,
 46723,
 36539,
 38452,
 39698,
 54809,
 39699,
 57106,
 75200,
 38951,
 38176,
 38462,
 75909,
 38293,
 38315,
 52995,
 52994,
 53005,
 53422,
 70582,
 73158,
 671014,
 670965,
 75747,
 671023,
 74813,
 53408,
 53203,
 53007,
 53200,
 53457,
 53231,
 53416,
 53414,
 53001,
 53234,
 53006,
 53410,
 53176,
 53002,
 671016,
 670994,
 54540,
 53419,
 761386,
 53221,
 53439,
 671056,
 53456,
 53010,
 53219,
 48942,
 53446,
 53241,
 53187,
 53167,
 53179,
 45756,
 671024,
 72585,
 53178,
 50486,
 670961,
 55802,
 53427,
 43247,
 74421,
 53165,
 53429,
 53175,
 53190,
 53157,
 53172,
 670891,
 39901,
 670920,
 53449,
 670943,
 56128,
 78227,
 667348,
 45640,
 54576,
 54567,
 45795,
 670908,
 53660,
 670916,
 670910,
 670949,
 670883,
 73352,
 671036,
 670989,
 671042,
 670894,
 670947,
 670882,
 670938,
 671039,
 41486,
 53458,
 670917,
 68411,
 74423,
 38451,
 36118,
 53444,
 53426,
 64872,
 670974,
 670968,
 45358,
 671035,
 53230,
 44573,
 54184,
 76091,
 69670,
 77871,
 76458,
 39902,
 72747,
 45359,
 39163,
 49241,
 53453,
 670897,
 670995,
 73355,
 73358,
 670921,
 671007,
 671005,
 670993,
 53424,
 36315,
 53228,
 670981,
 53454,
 77657,
 74424,
 69860,
 53465,
 76769,
 75586,
 38267,
 38165,
 44292,
 37397,
 670950,
 670942,
 670928,
 671026,
 670979,
 671046,
 54774,
 671055,
 671050,
 53443,
 78670,
 53466,
 56901,
 671008,
 671028,
 53409,
 671027,
 670915,
 53401,
 765654,
 38926,
 53245,
 53202,
 52987,
 53421,
 53246,
 53445,
 53423,
 65392,
 53405,
 670913,
 53008,
 53183,
 671031,
 38304,
 78195,
 39076,
 44723,
 76453,
 78197,
 73359,
 40765,
 53174,
 671020,
 53238,
 40478,
 77799,
 670951,
 76462,
 670963,
 57062,
 62744,
 52988,
 53406,
 53404,
 670923,
 53004,
 53207,
 659913,
 53199,
 39331,
 670541,
 670542,
 670540,
 53455,
 37800,
 38265,
 40285,
 65394,
 53189,
 61658,
 42725,
 72381,
 38945,
 39640,
 670887,
 670904,
 670933,
 49129,
 670896,
 670907,
 671032,
 670903,
 670960,
 53892,
 53195,
 65417,
 670889,
 54779,
 53181,
 727181,
 52990,
 671052,
 52946,
 41493,
 57612,
 39635,
 42722,
 38930,
 38341,
 38335,
 38330,
 38011,
 38159,
 53461,
 53451,
 53430,
 53447,
 53448,
 60473,
 53154,
 53156,
 53237,
 53226,
 40507,
 40256,
 52378,
 48754,
 50345,
 46509,
 42219,
 38620,
 39413,
 38435,
 53120,
 42693,
 39639,
 38202,
 40527,
 40528,
 74906,
 39111,
 53123,
 671001,
 49238,
 40510,
 644664,
 53223,
 54773,
 45657,
 671017,
 670945,
 671034,
 53242,
 53162,
 54782,
 53163,
 53194,
 53463,
 53186,
 43091,
 53240,
 40257,
 42733,
 42348,
 700508,
 42162,
 40524,
 53450,
 45812,
 75831,
 44616,
 42704,
 39859,
 38983,
 39623,
 42015,
 42088,
 72605,
 73309,
 40361,
 40467,
 40468,
 42585,
 854924,
 39166,
 38328,
 40741,
 40604,
 40605,
 40612,
 40611,
 40610,
 40606,
 40607,
 40674,
 40608,
 40613,
 40614,
 40609,
 40603,
 36451,
 38228,
 74448,
 856419,
 48879,
 53415,
 53462,
 36100,
 53212,
 53188,
 53413,
 49174,
 670970,
 45763,
 39482,
 53460,
 53158,
 52096,
 78198,
 39524,
 49216,
 50898,
 76733,
 39527,
 42463,
 39528,
 42378,
 38108,
 44744,
 38474,
 42379,
 44738,
 76734,
 61549,
 39533,
 74149,
 42670,
 42669,
 38598,
 44746,
 44754,
 39532,
 42469,
 44745,
 42491,
 42549,
 843764,
 37971,
 38950,
 38648,
 38498,
 42229,
 39881,
 39883,
 78188,
 39327,
 39957,
 53428,
 38118,
 53204,
 53012,
 670909,
 53013,
 49151,
 44797,
 44735,
 38348,
 75822,
 73200,
 49148,
 72780,
 72796,
 72779,
 72773,
 40633,
 36029,
 39097,
 42178,
 49256,
 38430,
 60485,
 49243,
 42335,
 42542,
 42532,
 38115,
 37426,
 44346,
 64484,
 38716,
 42429,
 38095,
 37411,
 38109,
 37734,
 38224,
 38093,
 38100,
 38226,
 38489,
 38496,
 38495,
 38789,
 38777,
 39385,
 72739,
 49575,
 54207,
 42700,
 49380,
 76766,
 52976,
 36046,
 49589,
 49540,
 49588,
 42729,
 44798,
 49889,
 40407,
 59222,
 59425,
 692123,
 54208,
 39614,
 42221,
 680960,
 53774,
 50897,
 39355,
 52777,
 38518,
 42505,
 38119,
 40211,
 42498,
 61650,
 49567,
 38128,
 768115,
 44523,
 48927,
 53197,
 45775,
 41491,
 44918,
 41488,
 49146,
 60435,
 36090,
 45804,
 60451,
 671043,
 78283,
 42547,
 39742,
 37801,
 48969,
 722026,
 42502,
 42517,
 38372,
 78392,
 40712,
 38635,
 39880,
 42012,
 38260,
 44348,
 72508,
 38221,
 38097,
 72671,
 76768,
 42433,
 42727,
 53474,
 36131,
 49651,
 45751,
 40681,
 40766,
 37788,
 38788,
 76974,
 72485,
 713008,
 49164,
 39649,
 40487,
 45682,
 40080,
 48950,
 60465,
 60441,
 60470,
 60469,
 62739,
 61825,
 61430,
 42447,
 42513,
 56220,
 39096,
 38111,
 42495,
 40406,
 39351,
 74426,
 38937,
 813665,
 44858,
 48948,
 45428,
 712056,
 39668,
 41483,
 76463,
 45776,
 40508,
 49534,
 54289,
 49552,
 42445,
 38245,
 39322,
 38223,
 44910,
 44512,
 44516,
 670990,
 54209,
 44800,
 39906,
 42323,
 44893,
 44838,
 44839,
 44840,
 44891,
 44890,
 739543,
 39582,
 75292,
 36432,
 35996,
 37966,
 50688,
 60870,
 49549,
 62953,
 49436,
 39936,
 44799,
 733847,
 53009,
 670952,
 45652,
 39915,
 671051,
 39918,
 53198,
 49158,
 42174,
 42169,
 42170,
 42168,
 42175,
 42166,
 42172,
 40456,
 42164,
 45675,
 40081,
 42508,
 41479,
 53180,
 670969,
 662737,
 77863,
 39931,
 60437,
 42465,
 42544,
 38210,
 42533,
 38187,
 39415,
 38222,
 36038,
 42340,
 42439,
 49193,
 61660,
 42724,
 42703,
 42712,
 38252,
 44590,
 49222,
 39707,
 44610,
 56786,
 55236,
 57005,
 56384,
 56214,
 36495,
 36498,
 55369,
 45218,
 38303,
 60443,
 38575,
 39165,
 63022,
 63024,
 63028,
 63023,
 48557,
 48511,
 48806,
 48807,
 48805,
 45995,
 45980,
 45946,
 45944,
 63000,
 47195,
 47250,
 47204,
 47249,
 47332,
 47761,
 47508,
 47943,
 63021,
 63029,
 63030,
 63025,
 63031,
 42731,
 42707,
 47571,
 36105,
 45659,
 44859,
 36437,
 42176,
 40054,
 40512,
 53233,
 56727,
 56785,
 56240,
 56217,
 45030,
 48870,
 48871,
 52344,
 52349,
 41753,
 63038,
 41773,
 42177,
 47835,
 76565,
 76568,
 76571,
 76561,
 48765,
 47979,
 47971,
 48651,
 48748,
 48778,
 48556,
 48773,
 48728,
 48541,
 48099,
 47975,
 48801,
 47974,
 47973,
 50217,
 45556,
 44937,
 45559,
 44440,
 45552,
 45553,
 45554,
 44441,
 45555,
 45560,
 45558,
 45557,
 45561,
 44448,
 52444,
 52345,
 52357,
 52479,
 52478,
 52355,
 56856,
 56855,
 53469,
 56854,
 46000,
 45823,
 45839,
 45972,
 45828,
 45943,
 45825,
 45824,
 45904,
 45881,
 45977,
 45926,
 45936,
 45949,
 45966,
 46010,
 45922,
 45827,
 46002,
 45988,
 45871,
 45838,
 45959,
 45918,
 45853,
 45993,
 45861,
 45826,
 45892,
 46005,
 46983,
 47100,
 46600,
 47004,
 46498,
 46482,
 46968,
 46114,
 47005,
 46971,
 47001,
 47097,
 47000,
 46510,
 46975,
 46488,
 47067,
 47096,
 47066,
 46974,
 46486,
 46500,
 47048,
 47087,
 46686,
 47038,
 46496,
 46696,
 46107,
 47003,
 47046,
 46972,
 46576,
 46487,
 46698,
 46511,
 46990,
 46103,
 46848,
 46090,
 47090,
 47002,
 47095,
 62382,
 63003,
 63006,
 62993,
 62933,
 62938,
 62992,
 63015,
 62911,
 62996,
 62998,
 62913,
 62561,
 63020,
 62934,
 62916,
 62936,
 63007,
 62941,
 62940,
 62924,
 47140,
 47397,
 47331,
 47327,
 47214,
 47150,
 47261,
 47141,
 47180,
 47304,
 47146,
 47181,
 47353,
 47474,
 47260,
 47385,
 47268,
 47392,
 47202,
 47262,
 47222,
 47415,
 47224,
 47182,
 47151,
 47193,
 47197,
 47414,
 47416,
 47391,
 47444,
 47183,
 47228,
 47119,
 47168,
 47363,
 47637,
 47658,
 47544,
 47968,
 47477,
 47543,
 47478,
 47542,
 47902,
 47846,
 47594,
 47721,
 47967,
 47948,
 47541,
 47959,
 47661,
 47568,
 47830,
 47498,
 47940,
 47869,
 47525,
 47870,
 47593,
 47915,
 47695,
 47928,
 47479,
 47499,
 47537,
 47785,
 47969,
 47719,
 47618,
 62912,
 63004,
 62919,
 62999,
 62917,
 62943,
 62914]

In [60]:
df_cat = pd.DataFrame()
objectID = []
title = []
artistDisplayName = []
department = []
objectBeginDate = []
objectEndDate = []
period = []
objectName = []
culture = []

In [61]:
for i in cat_ids:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
        obj_test = r_test.json()
        objectID.append(obj_test['objectID'])
        title.append(obj_test['title'])
        artistDisplayName.append(obj_test['artistDisplayName'])
        department.append(obj_test['department'])
        objectBeginDate.append(obj_test['objectBeginDate'])
        objectEndDate.append(obj_test['objectEndDate'])
        period.append(obj_test['period'])
        objectName.append(obj_test['objectName'])
        culture.append(obj_test['culture'])
    except:
        continue

In [62]:
df_cat['objectID'] = objectID
df_cat['title'] = title
df_cat['artistDisplayName'] = artistDisplayName
df_cat['department'] = department
df_cat['objectBeginDate'] = objectBeginDate
df_cat['objectEndDate'] = objectEndDate
df_cat['period'] = period
df_cat['objectName'] = objectName
df_cat['culture'] = culture

In [63]:
df_cat

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,,Folding fan mounted as an album leaf,China
1,49470,Cat,Wang Li,Asian Art,1813,1879,Qing dynasty (1644–1911),Hanging scroll,China
2,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Muromachi period (1392–1573),Hanging scroll,Japan
3,36221,Cat,Wang Yun,Asian Art,1900,1933,,Hanging scroll,China
4,60873,Burial Crown,,Asian Art,960,1279,Song dynasty (960–1279) or later,Burial crown,China
...,...,...,...,...,...,...,...,...,...
995,62919,Figure,,Asian Art,1780,1780,Edo period (1615–1868),Figure,Japan
996,62999,Bowl,,Asian Art,1800,1800,Edo period (1615–1868),Bowl,Japan
997,62917,Vase,,Asian Art,1750,1750,Edo period (1615–1868),Vase,Japan
998,62943,Sake bottle,,Asian Art,1780,1780,Edo period (1615–1868),Sake bottle,Japan
999,62914,Censer in Three Parts,,Asian Art,1850,1850,Edo period (1615–1868),Censer,Japan

In [68]:
df_cat.groupby('period',as_index=False).count().sort_values('title')

,period,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,objectName,culture
37,Late Ming (1368–1644)–early Qing (1644–1911) d...,1,1,1,1,1,1,1,1
34,Kofun period (ca. 300–710),1,1,1,1,1,1,1,1
35,Kofun period (ca. 3rd–7th century),1,1,1,1,1,1,1,1
82,Republic period (1912–49),1,1,1,1,1,1,1,1
91,Sui (581–618) or early Tang (618-907) dynasty,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
64,Muromachi period (1392–1573),30,30,30,30,30,30,30,30
43,Ming dynasty (1368–1644),44,44,44,44,44,44,44,44
76,Qing dynasty (1644–1911),62,62,62,62,62,62,62,62
0,,106,106,106,106,106,106,106,106
16,Edo period (1615–1868),428,428,428,428,428,428,428,428