2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2_bookings.csv',encoding = 'windows-1251',sep=';')

In [3]:
df.shape

(119390, 21)

In [4]:
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

5

In [7]:
def rename_str(st):
    st = st.lower().replace(' ','_')
    return st

In [8]:
df = df.rename(columns=rename_str)

In [9]:
df.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

6

In [35]:
df.query('is_canceled == 1').groupby(['arrival_date_year',"arrival_date_month"]).agg({'is_canceled':'count'})#.sort_values('is_canceled',ascending = False)

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     1598
                  December                    973
                  July                       1259
                  November                    486
                  October                    1732
                  September                  2094
2016              April                      2061
                  August                     1825
                  December                   1398
                  February                   1337
                  January                     557
                  July                       1499
                  June                       2096
                  March                      1477
                  May                        1915
                  November                   1636
                  October                    2514
                  September                  2022
2017              April                      2463
                  August                     1816
                  February                   1359
                  January                    1250
                  July                       1984
                  June                       2439
                  March                      1672
                  May                        2762

In [41]:
df.query('is_canceled == 0').groupby('country').agg({'is_canceled':'count'}).sort_values('is_canceled',ascending=False)
#Пользователи из каких стран совершили наибольшее число успешных бронирований? 
#Бронирование считается успешным, если в дальнейшем не было отменено

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069
...              ...
SMR                1
MLI                1
SLE                1
MAC                1
PLW                1

[165 rows x 1 columns]

7

In [44]:
#На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?
df.query('hotel == "City Hotel"').agg({'stays_total_nights':'mean'}).round(2)

stays_total_nights    2.98
dtype: float64

In [45]:
df.query('hotel == "Resort Hotel"').agg({'stays_total_nights':'mean'}).round(2)

stays_total_nights    4.32
dtype: float64

In [46]:
df.groupby('hotel').agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

8

In [49]:
df.query('reserved_room_type != assigned_room_type') #14917

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

9

In [39]:
df.groupby(['arrival_date_year','arrival_date_month']).agg({'is_canceled':'count'})

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     3889
                  December                   2920
                  July                       2776
                  November                   2340
                  October                    4957
                  September                  5114
2016              April                      5428
                  August                     5063
                  December                   3860
                  February                   3891
                  January                    2248
                  July                       4572
                  June                       5292
                  March                      4824
                  May                        5478
                  November                   4454
                  October                    6203
                  September                  5394
2017              April                      5661
                  August                     4925
                  February                   4177
                  January                    3681
                  July                       5313
                  June                       5647
                  March                      4970
                  May                        6313

In [65]:
df.query('arrival_date_year == 2016').arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [66]:
df.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

10

In [111]:
df.query('hotel == "City Hotel" and is_canceled == 1').groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

11

In [41]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [73]:
df.adults.mean()

1.8564033838679956

In [75]:
df.children.mean()

0.10388990333874994

In [76]:
df.babies.mean()

0.007948739425412514

In [82]:
df[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

12

In [45]:
df['total_kids'] = df['children'] + df['babies']

In [46]:
df.groupby('hotel').agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

13

In [90]:
df['has_kids'] = df['total_kids'] >= 1

In [110]:
df.query('has_kids == True and is_canceled == 1')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0,True
87,Resort Hotel,1,79,2015-07-03,2015,July,27,3,6,15,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0,True
105,Resort Hotel,1,26,2015-07-04,2015,July,27,4,2,5,...,0,BB,PRT,H,H,Transient,Canceled,2015-06-09,2.0,True
148,Resort Hotel,1,34,2015-07-05,2015,July,28,5,2,4,...,0,BB,PRT,H,H,Transient,Canceled,2015-06-17,2.0,True
223,Resort Hotel,1,280,2015-07-08,2015,July,28,8,2,5,...,0,HB,PRT,D,D,Contract,Canceled,2015-04-15,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82280,City Hotel,1,39,2015-12-25,2015,December,52,25,2,3,...,0,BB,PRT,D,D,Transient,No-Show,2015-12-25,1.0,True
82333,City Hotel,1,1,2015-12-29,2015,December,53,29,0,4,...,1,BB,PRT,B,B,Transient,Canceled,2015-12-29,1.0,True
82406,City Hotel,1,66,2015-12-29,2015,December,53,29,0,5,...,0,BB,PRT,F,F,Transient,No-Show,2015-12-29,2.0,True
82648,City Hotel,1,150,2016-03-24,2016,March,13,24,1,3,...,0,BB,PRT,B,B,Transient-Party,Canceled,2016-01-04,2.0,True
87688,City Hotel,1,312,2016-11-25,2016,November,48,25,0,1,...,0,BB,PRT,B,B,Transient-Party,Canceled,2016-11-07,1.0,True

In [105]:
df.query('has_kids == True')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05,1.0,True
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0,True
55,Resort Hotel,0,1,2015-07-02,2015,July,27,2,0,1,...,0,BB,ESP,C,C,Transient,Check-Out,2015-07-03,2.0,True
65,Resort Hotel,0,10,2015-07-03,2015,July,27,3,0,2,...,0,BB,USA,G,H,Transient,Check-Out,2015-07-05,2.0,True
87,Resort Hotel,1,79,2015-07-03,2015,July,27,3,6,15,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119270,City Hotel,0,0,2017-08-29,2017,August,35,29,0,3,...,0,BB,ROU,A,D,Transient,Check-Out,2017-09-01,1.0,True
119287,City Hotel,0,167,2017-08-27,2017,August,35,27,2,4,...,0,BB,AUT,D,D,Transient,Check-Out,2017-09-02,1.0,True
119293,City Hotel,0,243,2017-08-30,2017,August,35,30,0,3,...,0,BB,DEU,F,F,Transient,Check-Out,2017-09-02,2.0,True
119318,City Hotel,0,160,2017-08-29,2017,August,35,29,0,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-03,1.0,True
119319,City Hotel,0,45,2017-08-28,2017,August,35,28,1,5,...,0,BB,GBR,F,F,Transient,Check-Out,2017-09-03,2.0,True

In [114]:
3259/9332

0.3492284612087441

In [115]:
df.query('has_kids == False and is_canceled == 1')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,0,BB,PRT,A,A,Transient,Canceled,2015-05-06,0.0,False
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,0,HB,PRT,D,D,Transient,Canceled,2015-04-22,0.0,False
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,0,BB,PRT,E,E,Transient,Canceled,2015-06-23,0.0,False
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,0,BB,PRT,E,E,Transient,Canceled,2015-05-11,0.0,False
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,0,BB,PRT,E,E,Transient,Canceled,2015-05-29,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017-04-25,2017,April,17,25,0,0,...,0,BB,FRA,D,K,Transient,Canceled,2017-04-25,0.0,False
111355,City Hotel,1,4,2017-06-05,2017,June,23,5,1,0,...,0,BB,PRT,A,A,Transient,Canceled,2017-06-05,0.0,False
111924,City Hotel,1,7,2017-05-31,2017,May,22,31,0,1,...,0,BB,PRT,A,A,Transient,Canceled,2017-05-31,0.0,False
111925,City Hotel,1,6,2017-07-17,2017,July,29,17,1,0,...,0,BB,PRT,A,D,Transient,No-Show,2017-07-17,0.0,False
117295,City Hotel,1,0,2017-08-02,2017,August,31,2,0,2,...,0,BB,PRT,A,C,Transient,No-Show,2017-08-02,0.0,False

In [116]:
df.query('has_kids == False')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False

In [117]:
40965/110058

0.37221283323338605

In [47]:
df['has_kids'] = df['total_kids'] >= 1

In [50]:
df.groupby(['has_kids','is_canceled']).agg({'is_canceled':'count'})

                      is_canceled
has_kids is_canceled
False    0                  69093
         1                  40965
True     0                   6073
         1                   3259

In [54]:
40965/(69093+40965)

0.37221283323338605

In [53]:
3259/(6073+3259)

0.3492284612087441